@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600&display=swap");

@tailwind base;
@layer base {
  html {
    @apply bg-grey-200 font-Poppins text-neutral-dark-500;
    -webkit-tap-highlight-color: transparent;
  }
}
@tailwind components;
@layer {
  .dot {
    @apply inline-block h-0.5 w-0.5 rounded-full bg-grey-400;
  }
  .footer-divider {
    @apply block h-4 w-[1px] bg-grey-300;
  }
}
@tailwind utilities;

.login-divider {
  @apply relative my-5 h-[1px] w-full bg-grey-200 before:absolute before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:bg-white before:px-0.5 before:text-grey-400 before:content-['or'];
}
.login-submit {
  @apply bg-grey-300 text-white;
}
.form-input.error {
  @apply border border-warning;
}
.btn-secondary {
  @apply flex items-center justify-center rounded-xl border border-branding-secondary bg-branding-secondary px-6 py-2.5 text-base font-semibold text-white transition duration-75 hover:bg-transparent hover:text-branding-secondary;
}

.scrollbar-custom {
  @apply scrollbar:!w-1.5 scrollbar:bg-transparent scrollbar-track:!rounded scrollbar-track:!bg-white scrollbar-thumb:!rounded scrollbar-thumb:!bg-grey-300;
}

.hot-tab-vid.active {
  @apply border-b-grey-400 text-grey-400;
}
.hot-tab.active {
  @apply border-b-grey-400 text-grey-400;
}
.hot-item {
  @apply flex items-center justify-between rounded-lg p-2 transition-colors duration-75 hover:bg-bg;
}
.hot-item--duration {
  @apply text-right text-14 text-grey-400;
}
.hot-item:hover .hot-item--duration {
  @apply hidden;
}
.hot-item--more {
  @apply hidden items-center gap-x-3;
}
.hot-item:hover .hot-item--more {
  @apply flex;
}
.hot-item .hot-item--love {
  @apply opacity-0 transition-opacity duration-75;
}
.hot-item:hover .hot-item--love {
  @apply opacity-100;
}

.banner-swiper .swiper-pagination-bullet {
  @apply bg-grey-200 opacity-100;
}
.banner-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-branding;
}

.song-swiper .swiper-song-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.song-swiper .swiper-song-navigation.swiper-button-disabled {
  @apply hidden;
}
.song-swiper .swiper-song-prev {
  @apply left-3;
}
.song-swiper .swiper-song-next {
  @apply right-3;
}

.albums-swiper .swiper-albums-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.albums-swiper .swiper-albums-navigation.swiper-button-disabled {
  @apply hidden;
}
.albums-swiper .swiper-albums-prev {
  @apply left-3;
}
.albums-swiper .swiper-albums-next {
  @apply right-3;
}

.new-video-swiper .swiper-new-video-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.new-video-swiper .swiper-new-video-navigation.swiper-button-disabled {
  @apply hidden;
}
.new-video-swiper .swiper-new-video-prev {
  @apply left-3;
}
.new-video-swiper .swiper-new-video-next {
  @apply right-3;
}

.lang-footer-item {
  @apply text-14 text-grey-300 transition-colors duration-75 hover:text-grey-400;
}
.lang-footer-item.active {
  @apply text-grey-400;
}
