@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600&display=swap");

@tailwind base;
@layer base {
  html {
    @apply bg-white font-Poppins text-neutral-dark-500 md:bg-grey-200;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply overflow-x-hidden;
  }
}
@tailwind components;
@layer components {
  .dot {
    @apply inline-block h-0.5 w-0.5 rounded-full bg-grey-400;
  }
  .footer-divider {
    @apply block h-4 w-[1px] bg-grey-300;
  }
  .login-submit {
    @apply bg-grey-300 text-white;
  }
  .btn-primary {
    @apply flex items-center justify-center rounded-xl border border-branding bg-branding px-4 py-2.5 text-14 font-semibold text-white transition duration-75 hover:bg-transparent hover:text-branding md:py-2;
  }
  .btn-secondary {
    @apply flex items-center justify-center rounded-xl border border-branding-secondary bg-branding-secondary px-6 py-2.5 text-base font-semibold text-white transition duration-75 hover:bg-transparent hover:text-branding-secondary md:py-3;
  }
  .btn-tertiary {
    @apply flex items-center justify-center rounded-xl border border-grey-200 bg-grey-200 px-6 py-2.5 text-base font-semibold transition duration-75 hover:bg-transparent md:py-3;
  }
  .btn-outline {
    @apply block w-[100px] rounded-xl border border-branding py-2 text-14 font-semibold text-branding transition-colors duration-75 hover:bg-branding hover:text-white;
  }
  .overlay {
    @apply fixed inset-0 z-[9999] bg-black/60;
  }
}
@tailwind utilities;

.container.fluid {
  @apply max-md:!pl-4 max-md:!pr-0;
}

.login-divider {
  @apply relative my-5 h-[1px] w-full bg-grey-200 before:absolute before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:bg-white before:px-0.5 before:text-grey-400 before:content-['or'];
}

.form-input.error {
  @apply border border-warning;
}

.scrollbar-custom {
  @apply md:scrollbar:!w-1.5 md:scrollbar:bg-transparent md:scrollbar-track:!rounded md:scrollbar-track:!bg-white md:scrollbar-thumb:!rounded md:scrollbar-thumb:!bg-grey-300;
}

.hot-tab-vid.active {
  @apply border-b-grey-400 text-grey-400;
}
.hot-tab.active {
  @apply border-b-grey-400 text-grey-400;
}
.hot-item {
  @apply flex items-center justify-between rounded-lg p-1 transition-colors duration-75 hover:bg-bg md:p-2;
}
.hot-item--duration {
  @apply text-right text-14 text-grey-400;
}
.hot-item:hover .hot-item--duration {
  @apply hidden;
}
.hot-item--more {
  @apply hidden items-center gap-x-3;
}
.hot-item:hover .hot-item--more {
  @apply md:flex;
}
.hot-item .hot-item--love {
  @apply opacity-0 transition-opacity duration-75;
}
.hot-item:hover .hot-item--love {
  @apply md:opacity-100;
}

.banner-swiper .swiper-pagination-bullet {
  @apply bg-grey-200 opacity-100;
}
.banner-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-branding;
}

.song-swiper .swiper-song-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.song-swiper .swiper-song-navigation.swiper-button-disabled {
  @apply hidden;
}
.song-swiper .swiper-song-prev {
  @apply left-3;
}
.song-swiper .swiper-song-next {
  @apply right-3;
}

.playlists-pc-swiper .swiper-playlists-pc-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.playlists-pc-swiper .swiper-playlists-pc-navigation.swiper-button-disabled {
  @apply hidden;
}
.playlists-pc-swiper .swiper-playlists-pc-prev {
  @apply left-3;
}
.playlists-pc-swiper .swiper-playlists-pc-next {
  @apply right-3;
}

.artists-swiper .swiper-artists-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.artists-swiper .swiper-artists-navigation.swiper-button-disabled {
  @apply hidden;
}
.artists-swiper .swiper-artists-prev {
  @apply left-3;
}
.artists-swiper .swiper-artists-next {
  @apply right-3;
}

.albums-swiper .swiper-albums-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.albums-swiper .swiper-albums-navigation.swiper-button-disabled {
  @apply hidden;
}
.albums-swiper .swiper-albums-prev {
  @apply left-3;
}
.albums-swiper .swiper-albums-next {
  @apply right-3;
}

.new-video-swiper .swiper-new-video-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.new-video-swiper .swiper-new-video-navigation.swiper-button-disabled {
  @apply hidden;
}
.new-video-swiper .swiper-new-video-prev {
  @apply left-3;
}
.new-video-swiper .swiper-new-video-next {
  @apply right-3;
}

.lang-footer-item {
  @apply text-14 text-grey-300 transition-colors duration-75 hover:text-grey-400;
}
.lang-footer-item.active {
  @apply text-grey-400;
}

a.swiper-slide img {
  @apply transition-transform duration-700;
}

a.swiper-slide:not(.video-item):hover img {
  @apply scale-125;
}

.header-tab-modal {
  @apply hidden;
}
.header-tab-modal.active {
  @apply block;
}
.header-tab-modal--inner {
  @apply flex min-h-screen w-[90%] max-w-[430px] flex-col bg-white p-4;
}

.header-link a {
  @apply -mx-4 px-4 py-[18px] transition-colors duration-75 hover:text-branding-secondary;
}

.header-link:not(:last-child) a {
  @apply border-b border-b-grey-200;
}

.mixed-link .mixed-link--duration {
  @apply block;
}
.mixed-link:hover .mixed-link--duration {
  @apply hidden;
}
.mixed-link .mixed-link--more {
  @apply hidden items-center gap-3;
}
.mixed-link:hover .mixed-link--more {
  @apply flex;
}
.topic-item img {
  @apply transition-transform duration-700;
}
.topic-item:hover img {
  @apply scale-125;
}

.menu-more {
  @apply absolute right-0 top-[calc(100%+4px)] line-clamp-1 hidden min-w-[180px] flex-col overflow-visible rounded-xl bg-white p-2 text-base shadow-[0px_2px_20px_0px_rgba(0,0,0,0.08)] before:absolute before:right-0 before:top-0 before:aspect-square before:w-5 before:-translate-y-1/2 before:bg-transparent before:content-[''];
}

.toggle-more-menu:hover .menu-more {
  @apply flex;
}

.noti-popup {
  @apply absolute left-1/2 top-[calc(100%+4px)] z-20 hidden w-[400px] -translate-x-1/2 rounded-xl bg-white shadow-[0px_2px_20px_0px_rgba(0,0,0,0.08)];
}

.noti-popup.active {
  @apply block;
}

.ms-popup {
  @apply absolute left-1/2 top-[calc(100%+4px)] z-20 hidden w-[400px] -translate-x-1/2 rounded-xl bg-white shadow-[0px_2px_20px_0px_rgba(0,0,0,0.08)];
}
.ms-popup.active {
  @apply block;
}

.add-playlist-modal {
  @apply flex items-center justify-center;
}
.add-playlist-modal.active {
  @apply flex;
}
.add-playlist-modal--inner {
  @apply relative flex w-[640px] max-w-full flex-col rounded-xl bg-white px-6 py-4 pt-0;
}
