@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600&family=Poppins:wght@400;600&display=swap");

@tailwind base;
@layer base {
  html {
    @apply bg-white font-Poppins text-neutral-dark-500 md:bg-grey-200;
    -webkit-tap-highlight-color: transparent;
  }
  body {
    @apply overflow-x-hidden;
  }
}
@tailwind components;
@layer components {
  .dot {
    @apply inline-block h-0.5 w-0.5 rounded-full bg-grey-400;
  }
  .footer-divider {
    @apply block h-4 w-[1px] bg-grey-300;
  }
  .login-submit {
    @apply bg-grey-300 text-white;
  }
  .btn-primary {
    @apply flex items-center justify-center rounded-xl border border-branding bg-branding px-4 py-2.5 text-14 font-semibold text-white transition duration-75 md:py-2;
  }
  .btn-primary:not(.no-hover) {
    @apply hover:bg-transparent hover:text-branding;
  }
  .btn-secondary {
    @apply flex items-center justify-center rounded-xl border border-branding-secondary bg-branding-secondary px-6 py-2.5 text-base font-semibold text-white transition duration-75 hover:bg-transparent hover:text-branding-secondary md:py-3;
  }
  .btn-tertiary {
    @apply flex items-center justify-center rounded-xl border border-branding bg-transparent px-6 py-2.5 text-base font-semibold text-branding transition duration-75  md:py-3;
  }
  .btn-tertiary:not(:no-hover) {
    @apply hover:bg-branding hover:text-white;
  }
  .btn-fourth {
    @apply flex items-center justify-center rounded-xl bg-grey-200 px-6 py-3 font-semibold;
  }
  .btn-fifth {
    @apply flex items-center justify-center rounded-xl border border-grey-400 bg-grey-400 px-4 py-2.5 text-14 font-semibold text-white transition duration-75 md:py-2 hover:bg-transparent hover:text-grey-400;
  }
  .btn-outline {
    @apply block w-[100px] rounded-xl border border-branding py-2 text-14 font-semibold text-branding transition-colors duration-75 hover:bg-branding hover:text-white;
  }
}
@tailwind utilities;

.container.fluid {
  @apply max-md:!pl-4 max-md:!pr-0;
}
.overlay {
  @apply fixed inset-0 bg-black/60 z-[99999];
}
.login-divider {
  @apply relative my-5 h-[1px] w-full bg-grey-200 before:absolute before:left-1/2 before:top-1/2 before:-translate-x-1/2 before:-translate-y-1/2 before:bg-white before:px-0.5 before:text-grey-400 before:content-['or'];
}

.form-input.error {
  @apply border border-warning;
}

.scrollbar-custom {
  @apply scrollbar:!w-1.5 scrollbar:bg-transparent scrollbar-track:!rounded scrollbar-track:!bg-white scrollbar-thumb:!rounded scrollbar-thumb:!bg-grey-300;
}

.hot-tab-vid.active {
  @apply border-b-grey-400 text-grey-400;
}
.hot-tab.active {
  @apply border-b-grey-400 text-grey-400;
}
.hot-item {
  @apply flex items-center justify-between rounded-lg p-1 transition-colors duration-75 hover:bg-bg md:p-2;
}
.hot-item .hot-item-play {
  @apply absolute flex opacity-0 duration-75 z-10 transition-opacity items-center justify-center inset-0 bg-black/40;
}
.hot-item:hover .hot-item-play {
  @apply opacity-100;
}
.hot-item--duration {
  @apply text-right text-14 text-grey-400;
}
.hot-item:hover .hot-item--duration {
  @apply hidden;
}
.hot-item--more {
  @apply hidden items-center gap-x-3;
}
.hot-item:hover .hot-item--more {
  @apply md:flex;
}
.hot-item .hot-item--love {
  @apply opacity-0 transition-opacity duration-75;
}
.hot-item:hover .hot-item--love {
  @apply md:opacity-100;
}

.banner-swiper .swiper-pagination-bullet {
  @apply bg-grey-200 opacity-100;
}
.banner-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  @apply bg-branding;
}

.song-swiper .swiper-song-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.song-swiper .swiper-song-navigation.swiper-button-disabled {
  @apply hidden;
}
.song-swiper .swiper-song-prev {
  @apply left-3;
}
.song-swiper .swiper-song-next {
  @apply right-3;
}

.playlists-pc-swiper .swiper-playlists-pc-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.playlists-pc-swiper .swiper-playlists-pc-navigation.swiper-button-disabled {
  @apply hidden;
}
.playlists-pc-swiper .swiper-playlists-pc-prev {
  @apply left-3;
}
.playlists-pc-swiper .swiper-playlists-pc-next {
  @apply right-3;
}

.services-swiper .swiper-services-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.services-swiper .swiper-services-navigation.swiper-button-disabled {
  @apply hidden;
}
.services-swiper .swiper-services-prev {
  @apply left-3;
}
.services-swiper .swiper-services-next {
  @apply right-3;
}

.artists-swiper .swiper-artists-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.artists-swiper .swiper-artists-navigation.swiper-button-disabled {
  @apply hidden;
}
.artists-swiper .swiper-artists-prev {
  @apply left-3;
}
.artists-swiper .swiper-artists-next {
  @apply right-3;
}

.albums-swiper .swiper-albums-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.albums-swiper .swiper-albums-navigation.swiper-button-disabled {
  @apply hidden;
}
.albums-swiper .swiper-albums-prev {
  @apply left-3;
}
.albums-swiper .swiper-albums-next {
  @apply right-3;
}

.new-video-swiper .swiper-new-video-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.new-video-swiper .swiper-new-video-navigation.swiper-button-disabled {
  @apply hidden;
}
.new-video-swiper .swiper-new-video-prev {
  @apply left-3;
}
.new-video-swiper .swiper-new-video-next {
  @apply right-3;
}

.playlist-video-swiper .swiper-playlist-video-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.playlist-video-swiper
  .swiper-playlist-video-navigation.swiper-button-disabled {
  @apply hidden;
}
.playlist-video-swiper .swiper-playlist-video-prev {
  @apply left-3;
}
.playlist-video-swiper .swiper-playlist-video-next {
  @apply right-3;
}

.digital-swiper .swiper-digital-navigation {
  @apply absolute top-1/2 z-10 -translate-y-1/2 rounded-full bg-white p-2.5 shadow-[0px_4px_30px_0px_rgba(0,0,0,0.16)];
}
.digital-swiper .swiper-digital-navigation.swiper-button-disabled {
  @apply hidden;
}
.digital-swiper .swiper-digital-prev {
  @apply left-3;
}
.digital-swiper .swiper-digital-next {
  @apply right-3;
}

.lang-footer-item {
  @apply text-14 text-grey-300 transition-colors duration-75 hover:text-grey-400;
}
.lang-footer-item.active {
  @apply text-grey-400;
}

a.swiper-slide img {
  @apply transition-transform duration-700;
}

a.swiper-slide:not(.video-item):not(.digital-item):hover img {
  @apply scale-125;
}

a.swiper-slide.digital-item:hover .digital-thumb {
  @apply scale-125;
}

.header-tab-modal {
  @apply hidden;
}
.header-tab-modal.active {
  @apply block;
}
.header-tab-modal--inner {
  @apply flex min-h-screen w-[90%] max-w-[430px] flex-col bg-white p-4;
}

.header-link a {
  @apply -mx-4 px-4 py-[18px] transition-colors duration-75 hover:text-branding-secondary;
}

.header-link:not(:last-child) a {
  @apply border-b border-b-grey-200;
}

.mixed-link .mixed-link--duration {
  @apply block;
}
.mixed-link:hover .mixed-link--duration {
  @apply hidden;
}
.mixed-link .mixed-link--more {
  @apply hidden items-center gap-3;
}
.mixed-link:hover .mixed-link--more {
  @apply flex;
}
.topic-item img {
  @apply transition-transform duration-700;
}
.topic-item:hover img {
  @apply scale-125;
}

.menu-more {
  @apply absolute right-0 z-10 top-[calc(100%+4px)] line-clamp-1 hidden min-w-[180px] flex-col overflow-visible rounded-xl bg-white p-2 text-base shadow-[0px_2px_20px_0px_rgba(0,0,0,0.08)] before:absolute before:right-0 before:top-0 before:aspect-square before:w-8 before:-translate-y-1/2 before:bg-transparent before:content-[''];
}

.toggle-more-menu:hover .menu-more {
  @apply flex;
}

.noti-popup {
  @apply absolute left-1/2 top-[calc(100%+4px)] z-20 hidden w-[400px] -translate-x-1/2 rounded-xl bg-white shadow-[0px_2px_20px_0px_rgba(0,0,0,0.08)];
}

.noti-popup.active {
  @apply block;
}

.ms-popup {
  @apply absolute left-1/2 top-[calc(100%+4px)] z-20 hidden w-[400px] -translate-x-1/2 rounded-xl bg-white shadow-[0px_2px_20px_0px_rgba(0,0,0,0.08)];
}
.ms-popup.active {
  @apply block;
}

.add-playlist-modal {
  @apply hidden items-center justify-center p-4;
}
.add-playlist-modal.active {
  @apply flex;
}
.add-playlist-modal--inner {
  @apply relative flex w-[640px] max-w-full flex-col max-h-[90vh] overflow-hidden rounded-xl bg-white px-6 py-4 pt-0;
}

.add-playlist-btn {
  @apply h-full border-b-4 border-b-transparent px-6 py-3 text-grey-300 transition-colors duration-75 hover:text-branding-secondary;
}
.add-playlist-btn.active {
  @apply border-b-branding-secondary text-branding-secondary;
}
.add-playlist-show:not(.active) {
  @apply hidden;
}
.create-playlist-btm:not(.active) {
  @apply hidden;
}
.profile-nav {
  @apply flex h-10 xl:h-12 px-2 w-[180px] items-center justify-center gap-2 rounded-lg text-base font-semibold text-grey-300 hover:bg-branding hover:text-white;
}
.profile-nav.active {
  @apply bg-branding text-white;
}

.btn-pag {
  @apply duration-100 h-9 transition-colors px-2 text-14 font-semibold rounded-lg flex items-center justify-center bg-grey-100 min-w-[36px];
}
.btn-pag:not(.disable) {
  @apply hover:bg-branding/20;
}
.btn-pag.disable {
  @apply text-grey-300 select-none pointer-events-none;
}
.btn-pag.active {
  @apply text-white bg-branding;
}

.edit-profile-group {
  @apply grid grid-cols-[140px,1fr] items-center gap-3;
}
.save-edit-profile {
  @apply hidden;
}
.save-edit-profile.show {
  @apply block;
}
.edit-profile--modal {
  @apply hidden items-center justify-center p-4;
}
.edit-profile--modal.show {
  @apply flex;
}
.reply-cmt-box {
  @apply mt-2 hidden items-center gap-2;
}
.reply-cmt-box.show {
  @apply flex;
}

.gallery-focus-image {
  @apply hidden;
}
.gallery-focus-image.show {
  @apply block;
}

.playlist-video-item:hover .playlist-video-item--index {
  @apply hidden;
}

.playlist-video-item:hover .playlist-video-item--play {
  @apply block;
}

.music-player {
  @apply fixed hidden bottom-8 right-8 z-50;
}
.music-player.show {
  @apply block;
}

.music-player.min .player-medium-title {
  @apply hidden;
}
.music-player .player-mini-title {
  @apply hidden items-center justify-between gap-4;
}

.music-player.min .player-mini-title {
  @apply flex;
}
.music-player .player-next-up {
  @apply mt-2 pt-2 border-t border-t-grey-200 text-14 text-grey-400 hidden items-center gap-x-2;
}
.music-player.min .player-next-up {
  @apply flex;
}
.medium-player,
.mini-player,
.max-player {
  @apply hidden;
}

.music-player.med .max-player,
.music-player.med .mini-player {
  @apply block;
}
.music-player.min .medium-player,
.music-player.min .max-player {
  @apply !block;
}

.music-player-large .mini-player,
.music-player-large .medium-player {
  @apply block;
}
.music-player-large {
  @apply hidden items-center justify-center;
}
.music-player-large.show {
  @apply flex;
}
.song-cmt:not(:last-child) {
  @apply border-b border-b-grey-200;
}
.toggle-more-menu-playlist .menu-more {
  @apply hidden;
}
.toggle-more-menu-playlist:hover .menu-more {
  @apply flex;
}

.edit-detail-modal {
  @apply hidden items-center justify-center p-4;
}
.edit-detail-modal.show {
  @apply flex;
}

.abs-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

svg {
  @apply cursor-pointer object-cover;
}

img {
  @apply cursor-pointer object-cover;
}

.highlight {
  @apply bg-[#1975ff];
}

.chat-container {
  display: none;
}

/* .active {
  background-color: #0ecad5;
  color: #fff;
} */

input {
  outline: none;
  border: none;
}

.active-hero {
  background-color: #1975ff;
  color: #fff;
}

.ts-h {
  transition: height 0.3s ease-in-out;
}

.box-shadow {
  box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.08);
}

.active-mobile {
  color: #48cfc1;
  border-bottom: 2px solid #48cdc1;
}

.active-upload {
  color: #fff;
  background-color: #1975ff;
}

.custom-select select option {
  padding: 0.5rem !important;
  background-color: #f7f7f7 !important;
  border: none !important;
  outline: none !important;
  cursor: pointer !important;
}

.custom-select select option:checked {
  background-color: #3498db !important;
  color: white !important;
}

.bg {
  background-image: url(../assets/images/bannermusic.png);
  background-size: cover;
}

.filter-voting {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}

.active-setting {
  @apply text-white rounded-xl bg-[#1975ff];
}

.rig {
  top: -10px !important;
  right: -10px !important;
}

.profile-nav-mobile {
  @apply px-4 pt-3 pb-2 text-14 text-grey-300 hover:text-branding-secondary duration-100 transition-colors font-semibold flex items-center justify-center;
}
.profile-nav-mobile.active {
  @apply border-b-2 border-b-branding-secondary text-branding-secondary;
}
.transition-h {
  transition: height 0.3s linear;
}

.bg-rgba {
  background: rgba(255, 255, 255, 0.1);
}
.border-music {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.sticky-header {
  position: sticky;
  top: 0;
  background-color: #783e87;
  transition: all 0.5s ease;
}

.header-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-block: 12px;
}

.header-button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header-button img {
  width: 24px;
  height: 24px;
}

.header-title {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
#album-cover {
  width: 100%;
  height: 100%;
  max-height: 100%;
  transition:
    transform 0.5s ease,
    opacity 0.5s ease,
    height 0.5s ease;
}
.scrollbar-custom-lyric {
  @apply scrollbar:!w-1.5 scrollbar:bg-transparent scrollbar-track:!rounded scrollbar-track:!bg-[#865293] scrollbar-thumb:!rounded scrollbar-thumb:!bg-[#783e87];
}

.bg-video {
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
}
.sidebar-video-item {
  @apply hover:bg-bg duration-100 transition-colors w-full gap-2 p-2 flex items-center -mx-2 rounded-lg line-clamp-2;
}
.sidebar-video-item.isPlaying {
  @apply bg-bg;
}
